@model IEnumerable<TheStoryKeeper.Models.Book>
@{
    ViewData["Title"] = "Search Results";
}

<h1>Search Results</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAvailability)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAvailability)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AutoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AutoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AutoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
